{% extends 'root.html' %}
{% import 'macros.html' as macros %}

{% block body %}
<div class="small-container">
    <h2>Créer une recette</h2>
    <form novalidate class="wtform">
        <!-- Name of the recipe -->
        {{macros.text_field(
        id='title',
        label='Nom de la recette',
        placeholder='Spaghettis bolognèse',
        )}}
        <!-- Target people -->
        {{macros.text_field(
        id='nb-people',
        label='Nombre de personnes visé',
        placeholder='4',
        type='number'
        )}}
        <!-- Difficulty -->
        <h4>Difficulté</h4>
        <ul class='radio-list'>
            <li>
                <input type="radio" name="difficulty" id='diff1'>
                <label for='diff1'>Facile</label>
                {{ macros.difficulty(1) }}
            </li>
            <li>
                <input type="radio" name="difficulty" id='diff2'>
                <label for='diff2'>Moyen</label>
                {{ macros.difficulty(2) }}
            </li>
            <li>
                <input type="radio" name="difficulty" id='diff3'>
                <label for='diff3'>Difficile</label>
                {{ macros.difficulty(3) }}
            </li>
        </ul>

        <!-- Catégorie -->
        {{macros.dropdown_menu(
        id='category-input',
        label='Catégorie',
        placeholder='Sélectionnez une catégorie',
        options=[{
        'name': 'Entrée',
        'value': 'entree'
        }, {
        'name': 'Plat',
        'value': 'main'
        }, {
        'name': 'Dessert',
        'value': 'dessert'
        }, {
        'name': 'Goûter',
        'value': 'gouter'
        }, {
        'name': 'Pâtisserie',
        'value': 'pastry'
        }, {
        'name': 'Divers',
        'value': 'misc'
        }]
        )}}

        <!-- Tags -->
        <div class="text-field tag-input">
            <label for="tags">Tags</label>
            <div class="field">
                <ul class="tags" id='tags'>
                    <input autocomplete='off' type="text" id="tags-input" placeholder="Entrez un tag" value="">
                </ul>
            </div>
            <span class="helper-text">Entrez un tag et appuyez sur Enter pour l'ajouter</span>
        </div>



        <!-- Ingrédients -->
        {{macros.list_input(
            id="ingredients-input",
            label="Ingrédients",
            placeholder="Ajouter un ingrédient"
        )}}

        <!-- Ustensiles -->
        {{macros.list_input(
            id="utensils-input",
            label="Ustensiles",
            placeholder="Ajouter un ustensile"
        )}}

        <!-- Steps -->
        {{macros.list_input(
            id="steps-input",
            label="Étapes",
            placeholder="Ajouter une étape",
            ordered=true
        )}}



        <!-- Should the recipe be set as public -->
        {{macros.checkbox(
        id='public',
        label='Rendre cette recette publique'
        )}}

        <!-- Buttons -->
        <button class="filled-button">Ajouter</button>
        <button class="outlined-button">Annuler</button>

    </form>
</div>
{% endblock %}