{% extends 'root.html' %} {# to be filled with js #} {%block head%}
<script src="{{url_for('static',filename='js/pages/index/pinned.js')}}"></script>
<script src="{{url_for('static',filename='js/pages/index/recommend.js')}}"></script>
<script src="{{url_for('static',filename='js/pages/index/popular.js')}}"></script>
{%endblock%} {% block body %}

<h1>Le coin des chefs</h1>
<div id="featured">
    <h2>Recettes mise en avant</h2>
    <div class="center">
        <ul class="recipe-list" id="featured-list">
        </ul>
    </div>
</div>

<div id="trending">
    <h2>Populaires</h2>
    <div class="center">
        <ul class="recipe-list" id="trending-list">
        </ul>
    </div>
    <!-- More button -->
    <button id="more-trending" class="icon-button"><i class="fa fa-plus"></i></button>
</div>

<div id="recommended">
    <h2>Recettes recommandées</h2>
    <div class="center">
        <ul class="recipe-list" id="recommended-list">
        </ul>
    </div>
</div>
{% endblock %}