{% extends 'root.html' %} {% import 'macros.html' as macros %} {%block head%}
<script src="{{url_for('static',filename='js/pages/my-recipes/get-recipes.js')}}"></script>
{%endblock%} {# to be filled with js #} {% block body %}

<div id="my-recipes">
    <div class="row ">
        <h2 class="expand">{{title}}</h2>
        <button class="outlined-button">Nouvelle recette</button>
    </div>
    <div class="center">
        <ul class="recipe-list" id="my-recipes-list">
        </ul>
    </div>
</div>
{% endblock %}