{% extends 'root.html' %}
{% import 'macros.html' as macros %}

{% block body %}
<div id="profile">
    <div class="row info">
        <img class="avatar" src="{{viewed_user.avatar_url}}">

        <div class="column">
            <!-- Name -->
            {% if viewed_user.name == "" %}
            <h1>{{viewed_user.pseudo}}</h1>
            {% else %}
            <h1>{{viewed_user.name}}</h1>
            {% endif %}

            <!-- Badges -->
            <div class="row">
                {% if viewed_user.is_chef %}
                <span class="badge">Chef cuisinier</span>
                {% endif %}
                {% if viewed_user.is_admin %}
                <span class="badge red">Adminisrateur</span>
                {% endif %}
            </div>

            {% if viewed_user.name != "" %}
            <!-- Alias -->
            <span class="alias"><i>alias</i> {{viewed_user.pseudo}}</span>
            {% endif %}

            {% if viewed_user.birthday %}
            <!-- Birthday -->
            <div class="row birthday">
                <i class="fa fa-birthday-cake"></i>
                <span>Né le {{viewed_user.birthday}}</span>
            </div>
            {% endif %}

            <!-- Subscribe button -->
            <div class="subscribe-button {{'subscribed' if viewed_user.current_user_is_subscribed}} "
            id="subscribe-button">
                <button>
                    {% if viewed_user.current_user_is_subscribed %}
                    Abonné
                    {% else %}
                    S'abonner
                    {% endif %}                
                </button>
                <span class="count">{{viewed_user.nb_subscribers}}</span>
            </div>
        </div>

    </div>
    <!-- Recettes de l'utilisateur -->
    <h2>Les recettes de {{viewed_user.name if viewed_user.name else viewed_user.pseudo }}</h2>
    <div id="my-recipes">
        
    </div>
</div>
{% endblock %}