{% extends 'root.html' %} {% import 'macros.html' as macros %} {% block head %}
<script src="{{url_for('static',filename='js/pages/recipe/star-rating.js')}}"></script>
<script src="{{url_for('static',filename='js/pages/recipe/top-buttons.js')}}"></script>
{% endblock %} {% block body %}
<article class="recipe-detail">

    {% if user != None and (recipe.current_user_is_author or user.is_admin) %}
    <div class="row buttons">
        {# visibility button #}
        {% if recipe.is_public %}
            <button class="outlined-button" id="visibility" value="public">Rendre privé</button>
        {% else %}
            <button class="outlined-button" id="visibility" value="private">Rendre public</button>
        {% endif %}
        {# delete button #}
        <button class="outlined-button" id="delete">Supprimer</button>
        {# pin button #}
        {% if user.is_admin == true %}
            {% if recipe.is_pinned %}
                <button class="outlined-button" id="pin" value="pinned">Désépingler</button> 
            {% else %}
                <button class="outlined-button" id="pin" value="unpinned">Épingler</button> 
            {% endif %}
        {% endif %}
    </div>
    {% endif %}
    <div class="row top">
        <div class="info">
            <div class="row">
                {% if recipe.is_public == False %}
                <i class="fa fa-lock margin-right"></i> 
                {% endif %}
                <h1>{{ recipe.title }}</h1>
            </div>

            <ul class="tags">
                {{ macros.as_list(recipe.tags) }}
            </ul>

            <div class="row">
                <span>Par</span>
                <a class='author' id='author' href="{{ recipe.author_url }}">{{ recipe.author_name }}</a> {% if recipe.author_is_chef %}
                <div class="badge">Chef</div>
                {% endif %}
            </div>

            <div class="row">
                {% if recipe.comments|length > 0 %}
                <span>Note des chefs : </span> {{ macros.rating(recipe.average_rating) }}
                <span>({{recipe.comments|length}})</span> {% else %}
                <span>Aucune évaluation</span> {% endif %}
            </div>

            <div class="row">
                <span>Favoris : </span>
                <div class="fav-number">
                    <span>{{recipe.fav_count}}</span>
                    <button><i
                            class="{{ 'fa' if recipe.current_user_favorited == True else 'far' }} fa-heart"></i></button>
                </div>
            </div>
            <div class="row">
                <span>Difficulté:</span> {{ macros.difficulty(recipe.difficulty) }}
            </div>
            <span>{{ recipe.category }} - pour {{ recipe.target_people }} personnes</span>

            <div class="row requirements">
                <div class="ingredients">
                    <h2>Ingrédients</h2>
                    <ul>
                        {{ macros.as_list(recipe.ingredients) }}
                    </ul>
                </div>
                <div class="ustensiles">
                    <h2>Ustensiles</h2>
                    <ul>
                        {{ macros.as_list(recipe.ustensiles) }}
                    </ul>
                </div>
            </div>
        </div>
        <img class="cover" src="{{ recipe.picture }}">

    </div>

    <div class="steps">
        <h2>Préparation</h2>
        <ol>
            {{ macros.as_list(recipe.steps) }}
        </ol>
    </div>
</article>

<div class="recipe-comments">
    <h2>Commentaires des chefs</h2>
    <ul id="comments">
        {% if user.is_chef and not recipe.already_rated_by_current_user %}
        <li class="comment row editor">
            <img src="{{user.avatar_url}}" alt="avatar" class="avatar">
            <div class="column bubble">
                <div class="row all-width">
                    <span class="name expand">Ajouter votre review</span>
                    <ul class="rating" id="rating-input">
                        <li><button><i class="far fa-star"></i></button></li>
                        <li><button><i class="far fa-star"></i></button></li>
                        <li><button><i class="far fa-star"></i></button></li>
                        <li><button><i class="far fa-star"></i></button></li>
                        <li><button><i class="far fa-star"></i></button></li>
                    </ul>
                </div>
                <textarea id="comment-input" placeholder="Comment avez-vous trouvé cette recette ?"></textarea>
                <button id="submit-rating-button" disabled class="outlined-button">Publier</button>
            </div>
        </li>
        {% endif %}
        <!-- other comments here -->
        {% for comment in recipe.comments %}
        <li class="comment row" >
            <img class="avatar" src="{{comment.avatar_url}}" alt="avatar">
            <div class="column bubble">
                <div class="row all-width">
                    <span class="name expand">{{comment.username}}</span> 
                    {% if user.is_admin or user.user_id == comment.user_id %}
                    <button value="{{comment.comment_id}}" id="{{'delete-button-' + comment.comment_id|string}}" class="delete-button">
                        Supprimer
                    </button>
                    {% endif %}
                    {{ macros.rating(comment.rating) }}
                </div>
                <span class="message">{{comment.message}}</span>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}