/* Define themes in variables */

/* Common variables */

html {
    /* Sizes */
    --main-max-width: 120rem;
    --appbar-height: 4.5rem;
    --appbar-title-font-size: 1.8rem;
    --appbar-button-font-size: 1.5rem;
    --appbar-button-min-width: 11rem;
    --appbar-avatar-size: 3.3rem;
    --appbar-usermenu-width: 30rem;

    --line-height: 1.43;
    --link-line-height: 1.6;

    --comment-width: 80rem;

    --small-container-width: 50rem;

    --field-height: 3.3rem;
}

/* Light theme */

html.light {
    /* Colors */
    --bg-color: #d6d9da;
    --fg-color: black;
    --main-bg-color: #eeebeb;
    --elevation-shadow-color-1: #0000001f;
    --elevation-shadow-color-2: #0000003d;

    --card-bg-color: #ffffff;

    --avatar-border-color: #8d8d8d;

    --appbar-bg-color: #34495e;
    --appbar-fg-color: white;
    --appbar-button-selected-bg-color: #46596d;
    --appbar-mobile-nav-bg: #ffffff;
    --appbar-mobile-nav-fg: black;
    --appbar-mobile-nav-selected-bg: #e0d9d9;
    --appbar-mobile-nav-selected-fg: rgb(10, 10, 10);

    --searchbar-bg-color: #eeeeee;
    --searchbar-fg-color: black;
    --searchbar-placeholder-color: #5a5a5a;

    --recipe-name-fg-color: black;
    --recipe-author-fg-color: #303030;

    --empty-icon-color: #bbc0c4;
    --rating-star-color: #f1c40f;
    --favorite-heart-color: #e74c3c;
    --difficulty-1st-color: #72c44c;
    --difficulty-2nd-color: #ffba60;
    --difficulty-3rd-color: #e74c3c;
    
    --comment-bg-color: #466172;
    --comment-fg-color: #ffffff;

    --textarea-bg-color: #f3f3f3;
    --textarea-focus-bg-color: #f1f1f1;
    --textarea-placeholder-color: #6b6b6b;
    --textarea-fg-color: #000000;

    --filled-button-bg-color: #3f6883;
    --filled-button-hover-color: #527294;
    --filled-button-fg-color: white;

    --outlined-button-border-color:  #acacac;
    --outlined-button-hover-border-color:  white;

    --text-field-border-color: #c9c9c9;
    --text-field-error-color:  #f8605e;
    --text-field-hover-border-color: #868686;
    --text-field-bg-color: #f5f9fa;
    --text-field-fg-color: black;
    --text-field-placeholder-color: #5a5a5a;
    --text-field-helper-text-color: #444444;

    --badge-bg-color: #a333be;
    --badge-fg-color: white;

    --dropdown-menu-options-bg: #ffffff;
    --dropdown-menu-options-hover-bg: #f5f5f5;
    --dropdown-menu-options-fg: black;
    --dropdown-menu-options-selected-bg: #e0d9d9;
    --dropdown-menu-options-selected-fg: #0a0a0a;
}


/* Dark theme */

html.dark {
    /* Colors */
    --bg-color: #121212;
    --fg-color: white;
    --main-bg-color: #191919;
    --elevation-shadow-color-1: transparent;
    --elevation-shadow-color-2: transparent;

    --card-bg-color: #292929;

    --avatar-border-color: transparent;

    --appbar-bg-color: #070707;
    --appbar-fg-color: white;
    --appbar-button-selected-bg-color: #1c1c1c;
    --appbar-mobile-nav-bg: #101010;
    --appbar-mobile-nav-fg: white;
    --appbar-mobile-nav-selected-bg: #1c1c1c;
    --appbar-mobile-nav-selected-fg: white;

    --searchbar-bg-color: #313131;
    --searchbar-fg-color: white;
    --searchbar-placeholder-color: #d8d8d8;

    --recipe-name-fg-color: #dddddd;
    --recipe-author-fg-color: #999999;

    --empty-icon-color: #bdc3c7;
    --rating-star-color: #f1c40f;
    --favorite-heart-color: #e74c3c;
    --difficulty-1st-color: #72c44c;
    --difficulty-2nd-color: #e9e96b;
    --difficulty-3rd-color: #e74c3c;

    --comment-bg-color: #3d3d3d;
    --comment-fg-color: #ffffff;

    --textarea-bg-color: #212121;
    --textarea-focus-bg-color: #1c1c1c;
    --textarea-placeholder-color: #c7c7c7;
    --textarea-fg-color: #ffffff;

    --filled-button-bg-color: #3f8fd1;
    --filled-button-hover-color: #2786b9;
    --filled-button-fg-color: white;

    --outlined-button-border-color:  #acacac;
    --outlined-button-hover-border-color:  white;
    --button-disabled-color: #808080;

    --text-field-border-color: transparent;
    --text-field-error-color:  #f8605e;
    --text-field-hover-border-color: #cacaca;
    --text-field-bg-color: #313131;
    --text-field-fg-color: white;
    --text-field-placeholder-color: #888888;
    --text-field-helper-text-color: #d3d3d3;

    --badge-bg-color: #a333be;
    --badge-fg-color: white;

    --dropdown-menu-options-bg: #222222;
    --dropdown-menu-options-hover-bg: #272727;
    --dropdown-menu-options-fg: #ffffff;
    --dropdown-menu-options-selected-bg: #28292c;
    --dropdown-menu-options-selected-fg: white;

}