{% macro recipe_thumbnail(recipe) %}
<div class="recipe">
    <img src="{{ recipe.image_url }}"
        alt="{{ recipe.name | e }}">
    <span class="name">Steak-frite de mamy</span>
    <span class="author">Mamy Dupont</span>

    <div class="row">
        <ul class="rating expand">
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="far fa-star"></i></li>
            <li><i class="far fa-star"></i></li>
        </ul>
        <div class="fav-number">
            <span>45</span>
            <button><i class="fa fa-heart"></i></button>
        </div>
    </div>
</div>
{% endmacro %}