{# Render the correct number of stars for the given rating #}
{% macro rating(number, expand=false) %}
<ul class="rating {{'expand' if expand}}">
    {% for i in range(5) %}
    {% if i < number %} <li><i class="fa fa-star"></i></li>
        {% else %}
        <li><i class="far fa-star"></i></li>
        {% endif %}
        {% endfor %}
</ul>
{% endmacro %}

{# Write the given list as a list of <li> #}
    {% macro as_list(list) %}
    {% for line in list %}
<li>{{line | e}}</li>
{% endfor %}
{% endmacro %}

{# Render the correct number of stars for the given rating #}
{% macro difficulty(number) %}
<ul class="difficulty">
    {% for i in range(number) %}
    <li><i class="fa fa-utensil-spoon"></i></li>
    {% endfor %}
</ul>
{% endmacro %}

{# WTForm macro #}
{% macro wtform(form) %}
<form enctype="multipart/form-data" class="wtform" method='{{form.method if form.method else "post"}}' {% if form.action %} action="{{form.action}}"
    {% endif %} novalidate>

    {% if form.title != None %}
    <h2>{{ form.title }}</h2>
    {% endif %}

    {{ form.csrf_token }}
    <!-- {{ form.hidden_tag() }} -->
    {% for field in form %}
    {# If it is a StringField or a PasswordField, use the custom macro #}

    {% if 'StringField' in field.__class__.__name__ or 'PasswordField' in field.__class__.__name__ or 'DateField' in
    field.__class__.__name__ %}

    {% set error_msg = field.errors | join(" ") %}
    {{ wtf_string_field(field, error=error_msg, autofocus=loop.first) }}

    {# Same for FileField #}
    {% elif 'FileField' in field.__class__.__name__ %}
    {% set error_msg = field.errors | join(" ") %}
    {{ wtf_file_field(field, error=error_msg) }}

    {# Same for Submit #}
    {% elif 'SubmitField' in field.__class__.__name__ %}
    {{ wtf_text_button(field, outlined=form.submit_outlined) }}
    {# Else use the default rendering #}
    {% else %}
    {{ field() }}
    {% endif %}
    {% endfor %}
</form>
{% endmacro %}

{# File field #}
{% macro wtf_file_field(field, error="") %}
<div class="file-field">
    <label>{{field.label}}</label>
    {{ field() }}

    {# If there is an error message, display it #}
    {% if error != "" %}
    <p class="helper-text error">{{error}}</p>
    {# Else, display the description #}
    {% elif field.description != "" %}
    <p class="helper-text">{{field.description}}</p>
    {% endif %}
</div>
{% endmacro %}

{# Text field (no wtform) #}
{% macro text_field(id, label, placeholder="", helper_text="", error="", autofocus=false, type='text', min=none, value=none) %}
<div class="text-field">
    <label for="{{id}}">{{label}}</label>
    <div class="field {{'error' if error != ''}}">
        <input autocomplete='off' id="{{id}}" type="{{type}}" autofocus={{autofocus}} placeholder="{{placeholder}}"
        {% if min != none %} min={{min}} {% endif %}
        {% if value != none %} value={{value}} {% endif %}>
    </div>
    <!-- If there is an error message, display it -->
    {% if error != "" %}
    <p class="helper-text error">{{error}}</p>
    <!-- Else, display the description -->
    {% elif helper_text != "" %}
    <p class="helper-text">{{helper_text}}</p>
    {% endif %}
</div>
{% endmacro %}

{# WTForm string field #}
{% macro wtf_string_field(field, error="", autofocus=false) %}
<div class="text-field">
    {{field.label}}
    <!-- Field part with border. Add error class if error is true -->
    <div class="field {{'error' if error != ''}}">
        {{ field(
        autocomplete='off',
        autofocus=autofocus
        ) }}
    </div>

    <!-- If there is an error message, display it -->
    {% if error != "" %}
    <p class="helper-text error">{{error}}</p>
    <!-- Else, display the description -->
    {% elif field.description != "" %}
    <p class="helper-text">{{field.description}}</p>
    {% endif %}
</div>
{% endmacro %}

{# WTForm text button #}
{% macro wtf_text_button( field, transparent=false, outlined=false ) %}
{% if outlined == true %}
{{ field(class="outlined-button") }}
{% else %}
{{ field(class="filled-button") }}
{% endif %}
{% endmacro%}

{# Checkbox #}
{% macro checkbox(id, label) %}
<div class="checkbox">
    <input type='checkbox' id='{{id}}'>
    <label for='{{id}}'>{{label}}</label>
</div>
{% endmacro %}

{# Dropdown menu #}
{% macro dropdown_menu(id, label, options, placeholder="", default="", helper_text="", error="") %}
<div class="dropdown-menu" id="{{id}}">
    <label>{{label}}</label>
    <div class="field {{'error' if error != ''}}">
        <button class="current-value">
            <span class="expand {{'placeholder' if default == ''}}">
            {% if default == "" %}
            {{placeholder}}
            {% else %}
                {% for option in options %}
                    {% if option.value == default %}
                        {{ option.name }}
                    {% endif %}
                {% endfor %}
            {% endif %}   
            </span>
            <i class="fa fa-angle-down"></i>
        </button>
    </div>
    <ul class="options">
        {% for option in options %}
        <li>
            <button id="{{id}}_{{loop.index}}" value="{{option.value}}">{{option.name}}</button>
        </li>
        {% endfor %}
    </ul>

    <!-- If there is an error message, display it -->
    {% if error != "" %}
    <p class="helper-text error">{{error}}</p>
    <!-- Else, display the description -->
    {% elif helper_text != "" %}
    <p class="helper-text">{{helper_text}}</p>
    {% endif %}
</div>
{% endmacro %}

{# List input last field #}
{% macro list_input_last_field(placeholder="", error="") %}
<li>
    <div class="field add-line {{'error' if error != ''}}">
        <input autocomplete="off" type="text" placeholder="{{placeholder}}">
        <i class="fa fa-plus"></i>
    </div>
</li>
{% endmacro %}

{# List input #}
{% macro list_input(id, label, placeholder="", helper_text="", error="", ordered=false) %}
<div class="input-list" , id="{{id}}">
    <label>{{label}}</label>
    {% if ordered %}
    <ol class="list">
        {{ list_input_last_field(placeholder, error) }}
    </ol>
    {% else %}
    <ul class="list">
        {{ list_input_last_field(placeholder, error) }}
    </ul>
    {% endif %}

    {# If there is an error message, display it #}
    {% if error != "" %}
    <p class="helper-text error">{{error}}</p>
    {# Else, display the description #}
    {% elif helper_text != "" %}
    <p class="helper-text">{{helper_text}}</p>
    {% endif %}
</div>
{% endmacro %}

{# Recipe thumbnail #}
{% macro recipe_thumbnail(name, url, picture, nb_favorites, current_user_favorited=false, author_name="", author_profile_url="", author_is_chef=false, average_rating=none) %}
<div class="recipe">
    <img src="{{picture}}"
        alt="{{name}}">
    <a class="name" href="{{url}}">{{name}}</a>

    {% if author_name != "" %}
    <!-- Author -->
    <div class="row all-width">
        <a class="author expand" href="{{author_profile_url}}">{{author_name}}</a>
        {% if author_is_chef %}
        <span class="badge">Chef</span>
        {% endif %}
    </div>
    {% endif %}
    
    <div class="row all-width">
        <!-- Rating and favorites -->
        {% if average_rating %}
        {{ rating(average_rating, expand=true) }}
        {% else %}
        <div class="expand"></div>
        {% endif %}
        <div class="fav-number">
            <span>{{nb_favorites}}</span>
            <button><i class="{{'fa' if current_user_favorited else 'far'}} fa-heart"></i></button>
        </div>
    </div>
</div>
{% endmacro %}