<!DOCTYPE html>
<html class="{{theme}}">

<!-- Headers -->

<head>
    <title>{% block page_title %}Le Coin des Chefs{% endblock %}</title>
    <!-- Prevent text from smalling on mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add roboto font for modern ui -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- Link CSS for a better look -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themes.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

    <!-- JQUERY from host -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Use FontAwesome for icons -->
    {{ fontawesome_js() }}
    <!-- Additional lines -->
    {% block head %} {% endblock %}
</head>

<!-- Body -->

<body>
    <header id="appbar">
        <div class="bar">
            <div class="content">
                <div class="title">
                    <!-- Title -->
                    <a href="/">{{ self.page_title() }}</a>
                    <!-- Empty space as big as possible-->
                </div>
                <!-- Search bar -->
                <div class="searchbar">
                    <form>
                        <input type="search" class="searchbar" aria-label="Rechercher" aria-autocomplete="list" placeholder="Rechercher" name="search">
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <!-- Navbar -->
                <nav>
                    <button class="mobile-menu" type="button"><i class="fa fa-bars"></i></button> {# if user is connected, show the full menu #}
                    <!-- TODO mettre les vrais liens -->
                    {% if user %}
                    <ul>
                        <li><a {{'selected' if page == 'home' }} href="/">Accueil</a></li>
                        <li><a {{'selected' if page == 'subscriptions' }} href="/subscriptions">Abonnements</a></li>
                        <li><a {{'selected' if page == 'favorites' }} href="/favorites">Favoris</a></li>
                        <li><a {{'selected' if page == 'my-recipes' }} href="/my-recipes">Mes recettes</a></li>
                        <li><button class="my-account" type="button">
                                <img class="avatar" src="{{user.avatar_url}}"
                                    alt="avatar">
                            </button>

                            <ul class="user-menu">
                                <li><a>
                                {% if theme == 'dark' %}
                                Passer vers le thème blanc
                                {% else %}
                                Passer vers le thème sombre
                                {% endif %}
                                </a></li>
                                <li><a>Mon profil</a></li>
                                {% if user.is_admin %}
                                <li><a {{'selected' if page == 'users' }} href='/users'>Utilisateurs</a></li>
                                {% endif %}
                                <li><a>Déconnexion</a></li>
                            </ul>
                        </li>
                    </ul>
                    {# else show the basic menu #} {% else %}
                    <ul>
                        <li><a href='/'>Accueil</a></li>
                        <li><a href='/login'>Se connecter</a></li>
                        <li><a href='/register'>S'inscrire</a></li>
                    </ul>
                    {% endif %}

                </nav>
            </div>
        </div>
    </header>
    <main>
        {% block body %} Cette page n'a pas de contenu. {% endblock %}
    </main>
</body>

</html>